@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --clr-black: #17171b;
  --clr-white: #fff8f1;
  --index: calc(1vw + 1vw);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--clr-white);
  font-family: Bebas Neue;
  background: none;
  border: none;
}

body {
  background: var(--clr-black);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--index) * 7);
  padding: 0 calc(var(--index) * 3);
}

li,
button,
.resume-icon {
  font-size: 36px;
  cursor: pointer;
}
.resume-icon {
  font-size: 28px;
  margin-right: 8px;
}

@media screen and (max-width: 600px) {
  li,
  button,
  .resume-icon {
    font-size: 28px;
  }
  .resume-icon {
    font-size: 22px;
    margin-right: 5px;
  }
}

ul {
  display: flex;
  gap: 24px;
}
a,
span {
  font-size: 24px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: calc(var(--index) * 2);
}
p {
  font-family: Montserrat;
}

.hero-nadia {
  width: calc(var(--index) * 30);
  position: absolute;
  top: calc(var(--index) * 15);
  padding-left: calc(var(--index) * 3);
}

.hide-overflow {
  width: 100vw;
  position: absolute;
  height: 100vh;
  overflow-x: hidden;
}
.hero-sphere {
  width: calc(var(--index) * 40);
  position: absolute;
  left: 30%;
}

.hero-texture {
  position: absolute;
  width: 110vw;
  left: -8rem;
  top: calc(var(--index) * 8);
  height: calc(var(--index) * 31);
}

.hero h1 {
  font-size: 48px;
  position: absolute;
  top: calc(var(--index) * 29);
  padding-left: calc(var(--index) * 4);
}

.see-projects-button {
  position: absolute;
  top: calc(var(--index) * 32.5);
  padding-left: calc(var(--index) * 4);
  font-size: 32px;
  cursor: pointer;
}

.hero {
  position: relative;
}

@media screen and (min-width: 1000px) {
  .hero h1 {
    top: calc(var(--index) * 21);
    font-size: 64px;
  }
  .see-projects-button {
    top: calc(var(--index) * 24);
    font-size: 40px;
  }
  .hero-nadia {
    width: calc(var(--index) * 32);
    top: calc(var(--index) * 6);
  }
  .hero-sphere {
    width: calc(var(--index) * 35);
    left: 35%;
    margin-top: -4rem;
  }
  .hero-texture {
    top: calc(var(--index) * 4);
    height: calc(var(--index) * 25);
    margin-left: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .hero h1 {
    top: calc(var(--index) * 46);
    padding-left: 1rem;
  }

  .see-projects-button {
    top: calc(var(--index) * 54);
    padding-left: 2rem;
  }

  .hero-texture {
    margin-left: 3rem;
    top: calc(var(--index) * 22);
    height: calc(var(--index) * 33);
  }
  .hero-sphere {
    transform: scale(1.3);
    margin-top: 9rem;
  }
  .hero-nadia {
    width: calc(var(--index) * 45);
    top: calc(var(--index) * 25);
    padding-left: 1rem;
  }
  .hero h1 {
    margin-top: calc(var(--index) * 1.8);
    padding-left: 2rem;
  }
}
@media screen and (max-width: 415px) {
  .hero h1 {
    top: calc(var(--index) * 45.7);
    padding-left: 1.8rem;
  }

  .see-projects-button {
    top: calc(var(--index) * 49);
    padding-left: 2rem;
  }
  .hero-texture {
    top: calc(var(--index) * 24);
    font-size: 24px;
  }
}

.about {
  position: relative;
  top: calc(var(--index) * 42);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .about {
    top: calc(var(--index) * 75);
  }
}

.about-text {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

.about-text p {
  text-align: justify;
  padding: 0 calc(var(--index) * 4);
}

.tech-icons {
  display: flex;
  gap: 5px;
  padding-bottom: 36px;
}

.tech-icons > * {
  font-size: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a,
.contact span {
  letter-spacing: 1.5px;
}

@media screen and (min-width: 1000px) {
  .about {
    top: calc(var(--index) * 32);
  }
  .about-text {
    flex-direction: row;
    padding: 2rem 8rem;
  }
  .about-text p {
    padding: 0;
  }
}

@media screen and (max-width: 415px) {
  .about {
    top: calc(var(--index) * 77);
  }
}

.projects-main {
  position: relative;
  top: calc(var(--index) * 45);
  width: 100%;
  padding: 0 calc(var(--index) * 5);
}
/* .projects-list {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;
} */

.header-and-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mode-buttons {
  display: flex;
  gap: 0.5rem;
}

.mode-buttons > * {
  font-size: 32px;
  cursor: pointer;
}

.project {
  border-bottom: 2px solid var(--clr-white);
  margin-bottom: 1rem;
}

.name-and-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 760px) {
  .project h3 {
    font-size: 32px;
  }
}

.projects-list {
  margin-top: 3rem;
}

.project-list {
  position: relative;
}

.project-list-desc {
  width: 100%;
  background: var(--clr-black);
  transition: max-height 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow: hidden;
}

.project-list-desc.closed {
  max-height: 0;
}

.project-list-desc.open {
  height: fit-content;
  max-height: 700px;
  padding-bottom: 48px;
}

.project-description {
  text-align: justify;
}

.list-image {
  width: 100%;
}

.list-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-tech-icons > * {
  font-size: 36px;
}

.list-link-icons > * {
  font-size: 28px;
  margin-left: 8px;
}

.projects-gallery {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 3rem;
}
.gallery-image {
  width: 25vw;
  cursor: pointer;
}
.project-gallery {
  text-align: center;
  width: 100%;
}

.gallery-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 0 0.5rem;
}

.gallery-description .name {
  color: #7d7a7a;
  cursor: pointer;
}
.gallery-description > * {
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .projects-main {
    top: calc(var(--index) * 85);
  }
  .projects-gallery {
    flex-direction: column;
    gap: 3rem;
  }
  .gallery-image {
    width: 70vw;
  }
  .gallery-description {
    flex-direction: row;
    padding: 0 2rem;
  }
  .gallery-description > * {
    font-size: 32px;
  }
}

@media screen and (min-width: 1000px) {
  .projects-main {
    top: calc(var(--index) * 38);
  }
}

@media screen and (max-width: 415px) {
  .projects-main {
    top: calc(var(--index) * 90);
  }
}

.footer {
  position: relative;
  top: calc(var(--index) * 55);
  width: 100%;
  padding-bottom: 24px;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .footer {
    top: calc(var(--index) * 95);
  }
}
@media screen and (max-width: 600px) {
  .footer {
    top: calc(var(--index) * 100);
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    top: calc(var(--index) * 45);
  }
}
