@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --clr-black: #17171b;
  --clr-white: #fff8f1;
  --index: calc(1vw + 1vw);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--clr-white);
  font-family: Bebas Neue;
  background: none;
  border: none;
}

body {
  background: var(--clr-black);
  /* padding: 0 calc(var(--index) * 3); */
  overflow-x: hidden;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--index) * 7);
  padding: 0 calc(var(--index) * 3);
}

li,
button {
  font-size: 36px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  li,
  button {
    font-size: 28px;
  }
}

ul {
  display: flex;
  gap: 24px;
}
a,
span {
  font-size: 24px;
}
h2 {
  font-size: calc(var(--index) * 3.5);
}
h3 {
  font-size: calc(var(--index) * 2);
}
p {
  font-family: Montserrat;
}
.resume-icon {
  font-size: calc(var(--index) * 1.5);
  margin-right: 8px;
}

.hero-nadia {
  width: calc(var(--index) * 30);
  position: absolute;
  top: calc(var(--index) * 15);
  padding-left: calc(var(--index) * 3);
}
.hero-sphere {
  width: calc(var(--index) * 40);
  position: absolute;
  left: 30%;
}

.hero-texture {
  position: absolute;
  width: 110vw;
  left: -8rem;
  top: calc(var(--index) * 8);
  height: calc(var(--index) * 31);
}

.hero h1 {
  font-size: 48px;
  position: absolute;
  top: calc(var(--index) * 29);
  padding-left: calc(var(--index) * 4);
}

.hero {
  position: relative;
}

@media screen and (min-width: 1000px) {
  .hero h1 {
    top: calc(var(--index) * 21);
    font-size: 64px;
  }
  .hero-nadia {
    width: calc(var(--index) * 32);
    top: calc(var(--index) * 6);
  }
  .hero-sphere {
    width: calc(var(--index) * 35);
    left: 35%;
    margin-top: -4rem;
  }
  .hero-texture {
    top: calc(var(--index) * 4);
    height: calc(var(--index) * 25);
    margin-left: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .hero h1 {
    top: calc(var(--index) * 46);
    padding-left: 1rem;
  }

  .hero-texture {
    margin-left: 3rem;
    top: calc(var(--index) * 22);
    height: calc(var(--index) * 33);
  }
  .hero-sphere {
    transform: scale(1.3);
    margin-top: 9rem;
  }
  .hero-nadia {
    width: calc(var(--index) * 45);
    top: calc(var(--index) * 25);
    padding-left: 1rem;
  }
  .hero h1 {
    margin-top: calc(var(--index) * 1.8);
    padding-left: 2rem;
  }
}
@media screen and (max-width: 415px) {
  .hero h1 {
    top: calc(var(--index) * 45.7);
    padding-left: 1.8rem;
  }
  .hero-texture {
    top: calc(var(--index) * 24);
  }
}

.about {
  position: relative;
  top: calc(var(--index) * 42);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .about {
    top: calc(var(--index) * 60);
  }
}

.about-text {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

.about-text p {
  text-align: justify;
  padding: 0 calc(var(--index) * 4);
}

.tech-icons {
  display: flex;
  gap: 5px;
  padding-bottom: 36px;
}

.tech-icons > * {
  font-size: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a,
.contact span {
  letter-spacing: 1.5px;
}

@media screen and (min-width: 1000px) {
  .about {
    top: calc(var(--index) * 32);
  }
  .about-text {
    flex-direction: row;
    padding: 2rem 8rem;
  }
  .about-text p {
    padding: 0;
  }
}

@media screen and (max-width: 415px) {
  .about {
    top: calc(var(--index) * 74);
  }
}

.projects-main {
  position: relative;
  top: calc(var(--index) * 48);
  width: 100%;
  padding: 0 calc(var(--index) * 5);
}
.projects-container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;
}

.header-and-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mode-buttons {
  display: flex;
  gap: 0.5rem;
}

.mode-buttons > * {
  font-size: calc(var(--index) * 2);
  cursor: pointer;
}

.project {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-white);
}

.projects-gallery {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 3rem;
}
.gallery-image {
  width: 25vw;
}
.project-gallery {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .projects-main {
    top: calc(var(--index) * 67);
  }
  .projects-gallery {
    flex-direction: column;
    gap: 3rem;
  }
  .gallery-image {
    width: 70vw;
  }
}

@media screen and (min-width: 1000px) {
  .projects-main {
    top: calc(var(--index) * 35);
  }
}

.footer {
  position: relative;
  top: 820px;
  width: 100%;
  padding-bottom: 24px;
  display: grid;
  justify-content: center;
}
