@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --clr-black: #17171b;
  --clr-white: #fff8f1;
  --index: calc(1vw + 1vw);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--clr-white);
  font-family: Bebas Neue;
  background: none;
  border: none;
}

body {
  background: var(--clr-black);
  padding: 0 calc(var(--index) * 5);
  overflow-x: hidden;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--index) * 7);
}

li,
button {
  font-size: 36px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  li,
  button {
    font-size: 28px;
  }
}

ul {
  display: flex;
  gap: 24px;
}
a,
span {
  font-size: 24px;
}
h2 {
  font-size: calc(var(--index) * 3.5);
}
h3 {
  font-size: calc(var(--index) * 2);
}
p {
  font-family: Montserrat;
}
.resume-icon {
  font-size: calc(var(--index) * 1.5);
  margin-right: 8px;
}

.hero-nadia {
  width: calc(var(--index) * 30);
  position: absolute;
  top: calc(var(--index) * 15);
}
.hero-sphere {
  width: calc(var(--index) * 40);
  position: absolute;
  left: 30%;
}

.hero-texture {
  position: absolute;
  width: 110vw;
  left: -8rem;
  top: calc(var(--index) * 8);
  height: calc(var(--index) * 31);
}

.hero {
  position: relative;
}

@media screen and (min-width: 1000px) {
  .hero-nadia {
    width: calc(var(--index) * 32);
    top: calc(var(--index) * 6);
  }
  .hero-sphere {
    width: calc(var(--index) * 35);
    left: 35%;
    margin-top: -4rem;
  }
  .hero-texture {
    top: calc(var(--index) * 4);
    height: calc(var(--index) * 25);
  }
  .hero h1 {
    margin-top: -10rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 300px;
  }
  .hero-sphere {
    width: 800px;
    left: 35%;
    margin-top: -1rem;
  }
  .hero-nadia {
    width: calc(var(--index) * 45);
    margin-left: -2rem;
    top: calc(var(--index) * 25);
  }
  .hero-texture {
    margin-left: 1rem;
    top: calc(var(--index) * 15);
    height: calc(var(--index) * 50);
  }
  .hero h1 {
    font-size: 80px;
    line-height: 0px;
    position: absolute;
    margin-top: 13.4rem;
    left: -1.7rem;
  }
}

@media screen and (max-width: 550px) {
  .hero h1 {
    margin-top: 11.4rem;
  }
}
@media screen and (max-width: 415px) {
  .hero h1 {
    margin-top: 10rem;
  }
}
.hero h1 {
  font-size: 64px;
  position: absolute;
  top: calc(var(--index) * 30.5);
  margin-left: calc(var(--index) * 1);
}

.about {
  position: relative;
  top: calc(var(--index) * 42);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

.about-text p {
  text-align: justify;
}

.tech-icons {
  display: flex;
  gap: 5px;
  padding-bottom: 36px;
}

.tech-icons > * {
  font-size: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a,
.contact span {
  letter-spacing: 1.5px;
}

.projects-main {
  position: relative;
  top: calc(var(--index) * 49);
  width: 100%;
}

.projects-container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;
}

.project {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-white);
}

.footer {
  position: relative;
  top: calc(var(--index) * 85);
  width: 100%;
  padding-bottom: 24px;
  display: grid;
  justify-content: center;
}
/****************PROJECTS*****************/
.projects-gallery {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 3rem;
}
.gallery-image {
  width: 24vw;
}
.project-gallery {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .projects-gallery {
    flex-direction: column;
    gap: 3rem;
  }
  .gallery-image {
    width: 70vw;
  }
}
